<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emp_form</title>
</head>
<body>
<h1>Employee Details</h1>
<form>
    Employee Name : <input type="text" placeholder="Employee Name" name="empname1"><br>
    Employee Email : <input type="text" placeholder="Employee Email" name="empemail"><br>
Employee Contact : <input type="text" placeholder="Employee Contact" name="empcontact"><br>
Employee IMAGE : <input type="submit" value="Upload Image" name="submit" name="empimage"><br>
    <button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>